#kapsayici{
    margin: 0 auto;
    width: 940px;
}

#ust{
	background: #ff4765;
	margin: 0 0 10px 0;
	padding: 10px 10px 10px 10px;
	height: 150px;
}
#ust .logo {
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	height: 70px;
}
#ust .menu{
	background: #ff4765;
	padding: 10px;
    height: 40px;

}

#orta{
	background: #E6E5E3;
	padding: 10px;
	margin: 0 0 10px 0;
}
#orta .icerik{
	background: #D2D0D1;
	float: left;
	width: 650px;
	padding: 10px;
	margin: 0 10px 0 0;
	position: relative;
	height: 500px;
}
#orta .yan-menu{
	background: #D2D0D1;
	float: right;
	width: 220px;
	padding: 10px;
	position: relative;
	height: 500px;
}
.temizle{clear: both;}

#alt{
	background: #E6E5E3;
	padding: 10px;
	height: 150px;
}