* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}
html {
    background-color: #1d4657;
}
a {
    text-decoration: none;
    color: black;
}
header {
    background-color: #4384b1;
    width: 100%;
    display: inline-block;
}
.menu {
    float: right;
}
.menu li {
    display: inline-block;
}
.menu li a {
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 12px 18px;
    display: inline-block;
}
.menu li a:hover {
    background-color: #5fabe0;
}
